.white {
  fill: white;
}
.black {
  fill: black;
}

.white:hover {
  fill: lightgrey;
  stroke: rgb(233, 184, 20);
  stroke-width: 3;
  cursor: pointer;
}
.black:hover {
  fill: lightgrey;
  stroke: yellow;
  stroke-width: 3;
  cursor: pointer;
}
.keyboard-frame {
  text-align: center;
  margin: 2rem;
}
.keyboard {
  position: relative;
  text-align: center;
  display: inline-block;
}

.blue {
  fill: #;
}

.blue {
  fill: #44b3c2;
}
.orange {
  fill: #f1a94e;
}
.red {
  fill: #e45641;
}
.brown {
  fill: #5d4c46;
}
.grey {
  fill: #7b8d8e;
}
.ivory {
  fill: #f2edd8;
}

.dot-enter {
  fill: green;
}
