.white {
  fill: white;
}
.black {
  fill: black;
}

.white:hover {
  fill: lightgrey;
  stroke: rgb(233, 184, 20);
  stroke-width: 3;
  cursor: pointer;
}
.black:hover {
  fill: lightgrey;
  stroke: yellow;
  stroke-width: 3;
  cursor: pointer;
}
.keyboard-frame {
  text-align: center;
  margin: 2rem;
}
.keyboard {
  position: relative;
  text-align: center;
  display: inline-block;
}

.blue {
  fill: #;
}

.blue {
  fill: #44b3c2;
}
.orange {
  fill: #f1a94e;
}
.red {
  fill: #e45641;
}
.brown {
  fill: #5d4c46;
}
.grey {
  fill: #7b8d8e;
}
.ivory {
  fill: #f2edd8;
}

.winner1-exit,
.winner2-exit,
.winner3-exit,
.winner4-exit,
.winner5-exit {
  opacity: 1;
  transition: 0.5s;
}
.winner1-exit-active {
  opacity: 0;
  transform: translate(-72px, 231px);
}
.winner2-exit-active {
  opacity: 0;
  transform: translate(-72px, 179px);
}
.winner3-exit-active {
  opacity: 0;
  transform: translate(-72px, 127px);
}
.winner4-exit-active {
  opacity: 0;
  transform: translate(-72px, 74px);
}
.winner5-exit-active {
  opacity: 0;
  transform: translate(-72px, 22px);
}
.loser1-exit,
.loser2-exit,
.loser3-exit {
  opacity: 1;
  transition: 0.5s;
}
.loser1-exit-active {
  opacity: 0;
  transform: translate(733px, 178px);
}
.loser2-exit-active {
  opacity: 0;
  transform: translate(732px, 126px);
}
.loser3-exit-active {
  opacity: 0;
  transform: translate(732px, 73px);
}
